/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
}
table {
	border-collapse:separate;
	border-spacing:0;
}

ul {
    list-style-type: none;
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:""
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure, figcaption, hgroup, menu, {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: #FFFFFD;
	background-color: #2F3437;
    margin: 15px 30px 30px 30px;
    font-family: 'ヒラギノ 角ゴ Pro', 'MS ゴシック', sans-serif;
}

h1, h2 {
    text-shadow: 0.2em 0.2em 5px black;
}

h1 {
    font-size: 30px;
    margin: 1em 1em 1ex 1em;
}

h2 {
    font-size: 24px;
    margin: 1em 1em 1ex 1em;
}

h3 {
    font-size: 20px;
    margin: 1em 1em 1ex 1em;
}

a, a:visited {
	text-decoration:none;
    color: inherit;
}
/*
section a:after {
    content: "　";
    height: 16px;
    width: 32px;
    background: url(http://www.icrr.u-tokyo.ac.jp/~cta/images/arrow11-038.gif);
}

a.no_arrow:after {
    content: "";
    height: 0px;
    width: 0px;
    background: none;
}
*/
a:hover, a:active {
	text-decoration:none;
    color: inherit;
}

.slider-wrapper { 
	width: 100%;
	margin: 100px auto;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

header {
    text-align: right;
    padding: 5px 20px 5px 5px;
    margin: 0px 30px 30px 0px;
    border-bottom: solid 3px #9AC0CD;
}

header img {
    float: left;
    max-height: 60px;
    min-width: 30mm;
    margin: 3px;
}

header h1 {
    font-size: 50px;
    margin: 0px 5px 0px 5px;
}

header h2 {
    font-size: 30px;
    margin: 0px 5px 0px 5px;
}

nav {
    float: left;
    width: 200px;
    text-shadow: 0.2em 0.2em 5px black;
}

nav span {
    display: block;
}

nav span.ja {
    font-size: 21px;
}

nav span.en {
    font-size: 12px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    padding：0px;
}

nav ul li {
    width: 100%;
    margin: 0px;
}

nav ul li a {
    background-color: #9AC0CD;/*#76B0B6;*/
    display: block;
    height: 100%;
    width: auto;
    vertical-align: middle;
    text-align: left;
    margin: 0px;
    border: solid 1px #9AC0CD;
    padding: 5px 5px 5px 15px;
}

nav ul li a:hover {
    background-color: #B2DFEE;
    border: inset 1px #B2DFEE;
    text-shadow: 3px 3px 3px slategray;
    
}

nav ul li.be a {
    color: DarkSlateGray;
    background-color: #FFFFFD !important;
    border: inset 1px white;
}

section {
    /*float: left;*/
    margin-left: 250px;
    min-width: 560px;
    min-height: 536px;
    font-size: 16px;
    line-height: 170%;
}

.note {
    background-color: #FFFFFD !important;
    color: slategray;
    padding: 20px;
}

dl.note {
    min-height: 536px;
    margin: 2em;
}

dl.note dd {
    border-bottom: dotted 2px slategray;
    margin: 3px ;
}

.note h1 {
    border-bottom: dotted 2px slategray;
    text-shadow: none;
    padding-bottom: 1ex;
    margin-top: 1ex;
}

.note a:hover{
    text-shadow: 3px 3px 3px gray;
}

table th {
    background-color: #9AC0CD;
    border: outset 1px gray;
    padding: 1ex;
}

table td {
    color: slategray;
    background-color: #FFFFFD;
    padding: 1ex;
    border: outset 1px gray;
}

img.right {
    float: right;
    clear: right;
    margin: 30px;
    max-width: 40%;
}

img.big {
    max-width: none;
}

dl#links dt {
    height: 60px;
    width: 216px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

dl#links dd {
    height: 35px;
    display: inline-block;
    padding-top: 25px;
    max-width: 300px;
    margin: 10px;
}

dl#links>a {
    display: block;
    width: 100%;
}

dl#links a img {
    float: none;
    height: 60px;
    margin: 0;
    display: inline;
}

dl#links dt a img {
    float: none;
    height: 60px;
    margin: 0;
    display: inline;
}

#link_cta {
    position: relative;
    top: 15px;
}

dl.decimal {
    margin: 2em 2em 2em 80px;
}

dl.decimal dt {
    display: list-item;
    list-style-type: decimal;
    font-size: large;
    margin: 1ex;
}

section p {
    margin: 1em 1em 2em 1em;
}

.sup{
    vertical-align: super;
}

img:after {
    content: attr(title);
}

section p ol {
    margin: 2em 1em 2em 2em;
    float: none;
}

img.logo {
    display: block;
    max-height: 80px;
    margin-top: 20px;
    max-width: 225px;
    background-color:  #FFFFFD;
}

a:hover{
    text-shadow: 3px 3px 3px white;
}

p.more {
    text-align: right;
}

span.more a {
    display: inline !important;
    margin: 0 1ex 0 1ex;
}
/*
.more a:before {
    content: "→ ";
}
*/
img.icon {
    float: none;
    text-align: left;
    max-width: 50px;
    max-height: 30px;
    display: inline;
    margin: 0;
    position: relative;
    top: 5px;
    margin: 0 5px;
}

section ul, ol, dl {
    margin-left: 80px;
    list-style-type: disc;
}

section.note ul, ol, dl {
    margin-left: 20px;
}

dl dd ul li{
    font-size:small;    
}

img.photo {
    float: none;
    max-width: 350px;
    text-align: center;
}

video#mov_CTA {
    text-align: center;
     width: 60%;
     margin: 20px auto 20px 15%;
}

video#mov_Cherenkov {
    text-align: center;
     width: 50%;
     margin: 20px auto 20px 20%;
}

